body
  margin: 0

main
  margin: 0.5rem  

nav
  ul
    display: flex 
    font-size: large
    justify-content: space-evenly
    box-shadow: inset 0 0 20px 2px SkyBlue 
    list-style-type: none
    margin: 0

    li
      padding: 0.5em
    
    li.flex-login
      display: flex
      align-items: center

    .active
      background-color: ActiveText    
      text-shadow: 0 0 6px black
    /* filter: invert(100%); */

    .active a
      color: white


table 
  table-layout: fixed
  min-width: 100%
  border-collapse: collapse
  overflow: hidden

  // tr :nth-of-type(5)
  //   background-color: rgba(0, 0, 255,0.2)
  //   width: 1%
  //   white-space: nowrap

  thead
    background-color: DarkBlue
    color: White
    text-align: center
    
    tr :nth-child(odd)
      background-color: mediumblue

  tfoot
    background-color: royalblue

    input
      width: 100%
      box-sizing: border-box
      

    
  img
    display: block
    margin: auto
 
  .icon
    height: 2em 

  tbody 
    tr:nth-of-type(even) 
      background-color: LightGray
    
    tr :nth-child(even)
      background-color: rgba(0, 0, 0, 2%)

    tr:hover 
      background-color: gold
  
      & img
        transform: scale(5)
 


